name: CI Pipeline

on:
  push:
    branches:
      - main
      - feature-update

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/hello-nginx:latest .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/hello-nginx:latest
name: Docker Build & Push

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" \
          --password-stdin

    - name: Build Docker image
      run: docker build -t uma_devops/hello-world-app:latest .

    - name: Push Docker image
      run: docker push uma_devops/hello-world-app:latest

